.sidebar {
    width: 240px;
    background-color: #034b92; /* Azul-escuro */
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

  .sidebar-logo {
    margin-bottom: 2rem;
}

  .sidebar-logo .logo {
    width: 210px; /* Ajuste conforme necessário */
    height: auto; /* Mantém a proporção */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
  }

  .sidebar-logo h2 {
    padding-top: 10px;
    margin: 0;
}

.sidebar-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar-nav li {
    margin-bottom: 1rem;
    cursor: pointer;
    font-weight: bold;
}